# default config for a local Bonsai-Llama-Jev
TYPESAFE_API_KEY=
TYPESAFE_MODEL=bonsai-2-27b
TYPESAFE_BASE_URL=http://localhost:54100

#TYPESAFE_API_KEY=YOUR_API_KEY
#TYPESAFE_MODEL=jev-1.13.0
#TYPESAFE_BASE_URL=https://api.typesafe.ai